* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: url(/src/images/background.jpeg);
    font-family: "Protest Riot", sans-serif;
}

.hidden {
    display: none;
}

.search-form {


    display:flex;
    gap: 10px;
    position: fixed;
    top: 30px;
    right: 45%;
    
}